/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/clockwork
/storage/app/geoip.mmdb
/storage/app/qqwry.dat
/storage/framework/*
/storage/laravels.json
/storage/laravels.pid
/vendor
modules/*/vendor
.env
.env.testing
.env.backup
.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.DS_Store
*.cache
