.idea/

/vendor/
node_modules/
npm-debug.log
yarn-error.log

public/storage
public/hot


storage/*.key
storage/logs/*
/storage/framework/*
/storage/laravels.json
/storage/laravels.pid
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
modules/*/vendor
_ide_helper.php
.DS_Store
*.cache
